{% extends "services/common/templates/base.html" %}
{% block title %}주차예약수정{% endblock %}

{% block content %}
    <h1>주차예약 수정페이지</h1>

    {% if reservation %}
        <form method="POST" action="{{ url_for('update_reservation', reservation_id=reservation.reservation_id) }}">
            <table border="1" style="margin: auto;">
                <tr>
                    <th>예약 ID</th>
                    <td>{{ reservation.reservation_id }}</td>
                </tr>
                <tr>
                    <th>주차장 ID</th>
                    <td><input type="number" name="parkinglot_id" value="{{ reservation.parkinglot_id }}"></td>
                </tr>
                <tr>
                    <th>사용자 ID</th>
                    <td><input type="number" name="user_id" value="{{ reservation.user_id }}"></td>
                </tr>
                
            </table>

            <div style="margin-top: 20px; text-align: center;">
                <button type="submit">저장</button>
                <a href="{{ url_for('reservation_detail', reservation_id=reservation.reservation_id) }}">
                    <button type="button">취소</button>
                </a>
            </div>
        </form>
    {% else %}
        <p>예약 정보가 없습니다.</p>
    {% endif %}
{% endblock %}